<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">Pikachu</div>
            </div>
            <div class="right">
                <div id="hp">40 HP</div>
                <img src="../../../assets/img/electrik.png" alt="electrik energy icon" class="energy icon">
            </div>
        </header>
        <figure id="art">
            <img src="../../../assets/img/pikachu.png" alt="pikachu">
            <figcaption>N°25 Pikachu</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="icon energy" src="../../../assets/img/electrik.png" alt="electrik energy icon">                        
                        <img class="icon energy" src="../../../assets/img/electrik.png" alt="electrik energy icon">
                    </div>
                    <div class="name">Geo Impact</div>
                    <div class="damage">60</div>
                </div>
            </div>
            <div class="description">Attack with a electrik attack and great damages inflicted.</div>
        </div>
    </div>
</div>