<section id="app-container">
    <app-search-bar
    [(search)]="search"
    (searchPokemonResult)="searchInput($event)"
    (deleteSearchTerm)="deleteTerm()"
    />
    <section *ngIf="searchCompleted" id="card-list">
        <div *ngFor="let pokemon of pokemonResult">
            <app-playing-card [pokemon]="pokemon"></app-playing-card>
        </div>
    </section>

    <p class="unknown" *ngIf="pokemonResult.length === 0 && searchCompleted">Sorry this pokemon is Unknown here. 😢</p>    
    <p class="unknown" *ngIf="pokemonResult.length === 0 && searchCompleted">Try another search.</p>


    <section  *ngIf="!searchCompleted" id="card-list">
        <div  *ngFor="let pokemon of pokemons">
            <app-playing-card [pokemon]="pokemon"></app-playing-card>
        </div>
    </section>
</section>