<section id="app-container">
    <app-search-bar
    [(search)]="search"
    (searchPokemonResult)="searchResult()"
    (deleteSearchTerm)="deleteTerm()"
    />
    @if (searchCompleted()) {
        <section id="card-list">
            @for (pokemon of pokemonResult; track pokemon.pokedexNumber) {
                {{pokemon.pokedexNumber}}
                <app-playing-card [pokemon]="pokemon"></app-playing-card>

            }  @empty {
                <p class="unknown" *ngIf="pokemonResult.length === 0 && searchCompleted">Sorry this pokemon is Unknown here. 😢</p>    
                <p class="unknown" *ngIf="pokemonResult.length === 0 && searchCompleted">Try another search.</p>
            }
        </section>
    }  @else {
        <section id="card-list">
            @for (pokemon of pokemons(); track pokemon.pokedexNumber)  {
                <div>{{pokemon.pokedexNumber}}
                    <app-playing-card [pokemon]="pokemon"></app-playing-card>
                </div>
            }
        </section>
    }
</section>
<div><Button (click)="addPokemon()">Add Generic Pokemon</Button></div>